@import "tailwindcss";
@import './tailwind-settings.css';
@import './components/cards.css';
@import './components/labels.css';
@import './components/buttons.css';
@import './components/links.css';
@import './hamburger-style.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html, body {
  height: 100%;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
button,
a {
  cursor: pointer;
}
* {
  outline: none !important;
  outline-offset: 0 !important
}
img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

body {
  font-family: var(--font-comfortaa);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  color: var(--color-primary-900);
  background: var(--color-snow);
}

@media (min-width: 1536px) {
  .container {
    max-width: 1422px;
  }
}